/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@font-face {
  font-family: "Jost-Medium";
  src: url("../Jost/Jost-VariableFont_wght.ttf");
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Jost-Medium";
  padding: 0;
  margin: 0;
}

.banner {
  background-image: url("../imgs/Rectangle 2.jpg");
  background-position: center;
  background-size: cover;
  align-items: center;
  height: 75vh;
}
.banner .mobile-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.banner .mobile-nav .hamburger {
  height: 4rem;
  width: 4rem;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 2px brown solid;
}
.banner .mobile-nav .hamburger .line {
  width: 70%;
  height: 4px;
  background-color: brown;
  border-radius: 2px;
}

.nav {
  padding: 5vh;
  display: none;
  transition: all ease-in-out 0.6s;
}
.nav .pc-nav {
  padding: 4px;
  border-radius: 5px;
  box-shadow: 2px 3px 10px black;
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  align-items: center;
  text-align: center;
}
.nav .pc-nav img {
  height: 60px;
  width: 150px;
}
.nav .pc-nav ul {
  display: flex;
  gap: 30px;
  color: brown;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.nav .pc-nav .nav-icon {
  width: 5rem;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: brown;
  border-radius: 3px;
}

.sec-section .nashy {
  padding: 4%;
}
.sec-section .nashy img {
  width: 100%;
  height: 40vh;
}
.sec-section .nashy .text {
  display: flex;
  flex-direction: column;
  height: 54vh;
  justify-content: space-between;
}
.sec-section .nashy .text h1 {
  font-size: 25px;
  font-weight: 700;
  color: brown;
}
.sec-section .nashy .text .bold-text {
  font-weight: bolder;
}
.sec-section .nashy .text .bold-text span {
  color: brown;
}
.sec-section .nashy .text .first-button {
  height: 2.8rem;
  width: 7rem;
  color: brown;
  border: 2px brown solid;
  background-color: white;
}
.sec-section .nashy .text .first-button:hover {
  transition: all ease-in-out 0.6s;
  background-color: brown;
  color: white;
  border: 2px white solid;
  box-shadow: 2px 3px 8px grey;
}
.sec-section .hey {
  height: 55vh;
}
.sec-section .pic {
  background-image: url("../imgs/Rectangle 14.jpg");
  height: 45vh;
  background-position: center;
  background-size: cover;
}
.sec-section .pic .overlay {
  width: 100%;
  height: 120%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  align-items: flex-end;
}
.sec-section .pic .overlay .box {
  width: 30%;
  height: 30%;
  background-color: brown;
  border: 2px white solid;
  box-shadow: 2px 3px 10px black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 17px;
  font-weight: bold;
  padding: 4px;
}
.sec-section .pic .overlay .box:hover {
  transition: all ease 0.5s;
  scale: 1.1;
  font-weight: bolder;
  opacity: 0.8;
}

.third-section .white {
  background-color: brown;
  padding: 30px;
  display: flex;
  height: 50vh;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  border-left: 4px brown;
}
.third-section .white h1 {
  font-size: 30px;
  font-weight: bolder;
  width: 180px;
}
.third-section .nashy {
  display: flex;
  flex-direction: column;
  justify-content: right;
}
.third-section .nashy .imgss {
  display: flex;
}
.third-section .nashy .pic1 {
  background-image: url("../imgs/Rectangle 24.jpg");
  height: 25vh;
  width: 40%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 15px;
  border: 2px brown solid;
}
.third-section .nashy .pic1:hover {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: all ease-in-out 0.6s;
  scale: 1.03;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 25px;
}
.third-section .nashy .pic2 {
  background-image: url("../imgs/Rectangle 20.jpg");
  height: 25vh;
  width: 40%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 15px;
  border: 2px brown solid;
}
.third-section .nashy .pic2:hover {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: all ease-in-out 0.6s;
  scale: 1.03;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 25px;
}
.third-section .nashy .pic3 {
  background-image: url("../imgs/Rectangle 23.jpg");
  height: 25vh;
  width: 40%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 15px;
  border: 2px brown solid;
}
.third-section .nashy .pic3:hover {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: all ease-in-out 0.6s;
  scale: 1.03;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 25px;
}
.third-section .nashy .pic4 {
  background-image: url("../imgs/Rectangle 2.jpg");
  height: 25vh;
  width: 40%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 15px;
  border: 2px brown solid;
}
.third-section .nashy .pic4:hover {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: all ease-in-out 0.6s;
  scale: 1.03;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 25px;
}
.third-section .nashy .pic5 {
  background-image: url("../imgs/Rectangle 14.jpg");
  height: 25vh;
  width: 40%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 15px;
  border: 2px brown solid;
}
.third-section .nashy .pic5:hover {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: all ease-in-out 0.6s;
  scale: 1.03;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 25px;
}
.third-section .nashy .pic6 {
  background-image: url("../imgs/Rectangle 22.jpg");
  height: 25vh;
  width: 40%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 15px;
  border: 2px brown solid;
}
.third-section .nashy .pic6:hover {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: all ease-in-out 0.6s;
  scale: 1.03;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 25px;
}

.four {
  background-image: url("../imgs/pexels-cdc-3992949 1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  margin-top: 5%;
}
.four .overlay {
  background-color: rgba(0, 0, 0, 0.682);
  height: 100%;
  color: white;
  flex-direction: column;
  display: flex;
  padding: 30px;
  justify-content: space-around;
}
.four .overlay h1 {
  width: 50%;
  font-size: xx-large;
  font-weight: bold;
  margin-bottom: 20px;
}
.four .overlay .inputs {
  display: flex;
  gap: 20px;
}
.four .overlay input {
  height: 3rem;
  background-color: transparent;
  padding: 20px;
  border: 2px white solid;
  color: white;
  width: 35%;
  color: white;
}
.four .overlay input:hover {
  transition: all 0.6s;
  scale: 1.05;
}
.four .overlay button {
  height: 3rem;
  width: 9rem;
  background-color: brown;
  color: white;
  border: none;
}
.four .overlay button:hover {
  background-color: white;
  color: brown;
  transition: all ease-in-out 0.6s;
  border: 2px brown solid;
}

.lorem .container {
  margin-top: 5%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  border: 2px brown solid;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 30px;
}
.lorem .container p {
  width: 80%;
}
.lorem .container h1 {
  font-size: 20px;
  font-weight: bold;
}

.footer {
  margin-top: 5%;
  padding: 5%;
  background-color: brown;
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer a:hover {
  transition: all ease-in-out 0.6s;
  color: greenyellow;
  text-decoration: underline;
}
.footer .container {
  color: white;
}
.footer .container .why {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer .container .why .first-circle {
  display: flex;
  gap: 20px;
}
.footer .container .why .first-circle .circle {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}
.footer .container .why .first-circle .dot {
  width: 12px;
  height: 12px;
  background-color: black;
  border: 3px white solid;
  border-radius: 50%;
}
.footer .wow {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.footer .wow h1 {
  font-size: 20px;
  font-weight: bold;
}
.footer .wow .link {
  line-height: 25px;
  margin-left: 25px;
}
.footer .wow .link li {
  text-decoration: none;
  color: white;
}
.footer .community {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer .community span {
  text-decoration: underline;
}
.footer .community h1 {
  font-size: 20px;
  font-weight: bold;
}
.footer .community .images img {
  height: 70px;
}

/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/
/* 
Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/
/* Small devices (landscape phones, 576px and up) */
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .banner .mobile-nav {
    display: none;
  }
  .nav {
    display: block;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/
/* Set width to make card deck cards 100% width *//*# sourceMappingURL=style.css.map */